body{
    font-family: monospace;
}

.subject-info{
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

.celcius-container{
    text-align:center;
}

.resoult-container{
    display: flex;
    justify-content: space-evenly;
}

textarea{
    resize: none;
    background-color: gainsboro;
    border-radius: 4px;
    border: 2px solid;
    font-family: math;
    font-size: 25px;
}

.green-color{
    background-color: lawngreen;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: black;
}

.red-color{
    background-color: red;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: white;
}

.blue-color{
    background-color: blue;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: white;
}