*,
html{
    margin: 0;
    padding: 0;
}

body {
   font-family: monospace;
    background-image: url("../assets/sunsed.jpg");
    background-repeat: no-repeat;
    /* background-color: #333; */
    background-size: 250vh 151vh;
    background-position: center;
    margin: 0;
    padding: 0;
    color:lemonchiffon;
    border: none;
}



.header{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container-content {
    background-color: rgba(64, 64, 64,0.8);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 4px 10px 4px rgba(64, 64, 64,0.8);
}

/* .position-content {
    position: relative;
} */

.info {
    /* position: absolute;
      top: 5px;
      left: 20px; */
    padding: 10px;
    margin: 10px;
}

textarea{
    font-size: px;
}

.subject-info {
    
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

.celcius-container {
    padding: 10px;
    margin: 10px;
}

.Celcius-info{

}


/* .resoult-container {
    position: absolute;
    top: 200px;
    left: 20px;
    } */
    
    .Fahrenheit-container{
    /* position: absolute;
    top: 210px;
    left: 40px; */ 
    padding: 10px;
    margin: 10px;
}

.rumus-container {
    /* position: absolute;
    top: 350px;
    left: 40px; */
    padding: 10px;
    margin: 10px;
}

.formula-container {
    /* position: absolute;
    top: 450px;
    left: 20px; */
    padding: 10px;
    margin: 10px;
}

.formula-info{
    /* font-size: 20px;
    padding: 10px;
    margin: 10px; */
    padding: 10px;
    margin: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    resize: none;
    padding: 10px;
    background-color: gainsboro;
    border-radius: 10px;
    border: 2px solid;
    font-family: math;
    width: 300px;
    height: 50px;
    font-size: 15px;
    list-style-type: none;
}

.green-color {
    margin: 10px;
    background-color: lawngreen;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    font-size: 20px;
    color: black;
}

.green-color:hover{
    border: 2px solid white;
    transition: .5s ease-in-out;
    /* transition-delay: .3s; */
}

.red-color {
    margin: 10px;

    background-color: red;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

.red-color:hover{
    border: 1px solid black;
    transition: .5s ease-in-out;
    /* transition-delay: .3s; */
}

.blue-color {
    margin: 10px;
    background-color: blue;
    border: none;
    height: 40px;
    width: 80px;
    border-radius: 4px;
    font-size: 20px;
    color: white;
}

.blue-color:hover{
    border: 1px solid black;
    transition: .5s ease-in-out;
    /* transition-delay: .3s; */
}
